services:
  - type: web
    name: portfolio-backend
    env: node
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: PORT
        value: 10000
      - key: MONGODB_URI
        fromDatabase:
          name: mongodb
          property:connectionString.standardSrv
    plan: free
databases:
  - name: mongodb
    databaseName: portfolio
    user: portfolio_user