services:
  - type: web
    name: portfolio-backend
    env: node
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: PORT
        value: 10000
      - key: MONGODB_URI
        value: mongodb+srv://cubistheart_db_user:TLAGHqUW3ZacmSzW@chlclusterfun0.kkwdfs4.mongodb.net/mye?retryWrites=true&w=majority
    plan: free